In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=EUR&apikey=CEOM4WZT9GXAFNYF&datatype=csv'
response = requests.get(url)
if response.status_code == 200:
    with open('stocks.csv', 'wb') as file:
        file.write(response.content)
    print("File downloaded successfully.")
else:
    print("Failed to download file. Status code:", response.status_code)

File downloaded successfully.

In [3]:
dset = pd.read_csv('stocks.csv')
dset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  300 non-null    object
 1   open       300 non-null    float64
 2   high       300 non-null    float64
 3   low        300 non-null    float64
 4   close      300 non-null    float64
 5   volume     300 non-null    float64
dtypes: float64(5), object(1)
memory usage: 14.2+ KB

In [4]:
data = dset[['timestamp','close']]
data.tail()

      timestamp     close
295  2023-09-06  24018.28
296  2023-09-05  24042.74
297  2023-09-04  23916.17
298  2023-09-03  24099.26
299  2023-09-02  24017.56

In [8]:


forecast_data = data.rename(columns = {"timestamp": "ds",
                                       "close": "y"})
print(data.head())

    timestamp     close
0  2024-06-27  57067.16
1  2024-06-26  56935.04
2  2024-06-25  57713.87
3  2024-06-24  56171.92
4  2024-06-23  59107.12

In [9]:


from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly
model = Prophet()
model.fit(forecast_data)
forecasts = model.make_future_dataframe(periods = 10)
predictions = model.predict(forecasts)
a = predictions['trend']

23:45:44 - cmdstanpy - INFO - Chain [1] start processing
23:45:44 - cmdstanpy - INFO - Chain [1] done processing

In [10]:
for i in range(300,310):
        print(a[i])

60898.346427308235
60888.24792235754
60878.14941740685
60868.05091245616
60857.95240750546
60847.853902554765
60837.75539760407
60827.65689265337
60817.55838770268
60807.45988275199

In [11]:
a[229]

61759.66167153079

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  300 non-null    object
 1   close      300 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.8+ KB

In [13]:
data.head()

    timestamp     close
0  2024-06-27  57067.16
1  2024-06-26  56935.04
2  2024-06-25  57713.87
3  2024-06-24  56171.92
4  2024-06-23  59107.12

In [14]:
predictions.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-09-02,22206.878005,18856.001880,25078.056492,22206.878005,22206.878005,-153.788712,-153.788712,-153.788712,-153.788712,-153.788712,-153.788712,0.0,0.0,0.0,22053.089293
1,2023-09-03,22362.614307,19138.826558,25280.301325,22362.614307,22362.614307,-76.213315,-76.213315,-76.213315,-76.213315,-76.213315,-76.213315,0.0,0.0,0.0,22286.400992
2,2023-09-04,22518.350609,19632.451169,25855.551009,22518.350609,22518.350609,345.376753,345.376753,345.376753,345.376753,345.376753,345.376753,0.0,0.0,0.0,22863.727362
3,2023-09-05,22674.086911,19657.152014,25362.133710,22674.086911,22674.086911,-181.909985,-181.909985,-181.909985,-181.909985,-181.909985,-181.909985,0.0,0.0,0.0,22492.176926
4,2023-09-06,22829.823214,19998.837142,26113.643477,22829.823214,22829.823214,126.304006,126.304006,126.304006,126.304006,126.304006,126.304006,0.0,0.0,0.0,22956.127220

In [16]:
predictions.tail(10)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
300,2024-06-28,60898.346427,57717.080031,64127.751444,60898.346427,60898.346427,-55.791064,-55.791064,-55.791064,-55.791064,-55.791064,-55.791064,0.0,0.0,0.0,60842.555363
301,2024-06-29,60888.247922,57783.650656,63779.222552,60888.247922,60888.274795,-153.788712,-153.788712,-153.788712,-153.788712,-153.788712,-153.788712,0.0,0.0,0.0,60734.459210
302,2024-06-30,60878.149417,57889.442636,64106.165052,60875.421490,60891.017582,-76.213315,-76.213315,-76.213315,-76.213315,-76.213315,-76.213315,0.0,0.0,0.0,60801.936103
303,2024-07-01,60868.050912,58053.385134,64299.457725,60851.972297,60908.067507,345.376753,345.376753,345.376753,345.376753,345.376753,345.376753,0.0,0.0,0.0,61213.427665
304,2024-07-02,60857.952408,57638.584126,63839.953515,60815.914653,60922.487335,-181.909985,-181.909985,-181.909985,-181.909985,-181.909985,-181.909985,0.0,0.0,0.0,60676.042422
305,2024-07-03,60847.853903,57634.994430,63963.180234,60772.416528,60946.104247,126.304006,126.304006,126.304006,126.304006,126.304006,126.304006,0.0,0.0,0.0,60974.157909
306,2024-07-04,60837.755398,57950.523223,63987.148669,60728.208717,60975.498174,-3.977683,-3.977683,-3.977683,-3.977683,-3.977683,-3.977683,0.0,0.0,0.0,60833.777714
307,2024-07-05,60827.656893,57931.675839,64025.972144,60679.790901,61012.857975,-55.791064,-55.791064,-55.791064,-55.791064,-55.791064,-55.791064,0.0,0.0,0.0,60771.865828
308,2024-07-06,60817.558388,57630.513566,63680.126513,60631.725935,61051.368734,-153.788712,-153.788712,-153.788712,-153.788712,-153.788712,-153.788712,0.0,0.0,0.0,60663.769676
309,2024-07-07,60807.459883,57720.962875,63986.406378,60584.150092,61104.314662,-76.213315,-76.213315,-76.213315,-76.213315,-76.213315,-76.213315,0.0,0.0,0.0,60731.246568

In [22]:
t = forecast_data['y']
today = t[0]
sum = 0 
for i in range(300,310):
    sum = sum + a[i]
rre = sum/10
(rre-today)/100

37.857431550301186

In [23]:
rre

60852.90315503012

In [24]:
today

57067.16